<div class="row location" if="marker">
    <div class="col col-location-details location-details">
        <p class="location-name">
            <text args="location().name"/>
        </p>
        <p class="location-address">
            <text args="location().street"/><br/>
            <text args="location().city"/>, <span text="location().region"></span> <text args="location().postcode"/><br/>
            <text args="location().country"/><br/>
            <a if="location().telephone" attr="'href': 'tel:' + location().telephone" text="location().telephone"></a>
        </p>
        <p if="location().description" class="location-description" html="location().description"></p>
    </div>
    <div class="col col-location-actions" if="marker().callback">
        <div class="select-location" ifnot="isSelectedLocation">
            <button type="button"
                    class="action secondary action-select-shipping-item"
                    click="selectLocation">
                <translate args="'Ship Here'"/>
            </button>
        </div>
        <div class="location-selected" if="isSelectedLocation">
            <button type="button" class="action secondary" disabled>
                <span translate="'Selected'"/>
            </button>
        </div>
    </div>
</div>
